.entry {
    color: #AE6A0B !important;
    direction: rtl;   
    height: 8vh;
    font-size: 4vh;
}

.title {
    font-family: 'Vazirmatn', sans-serif; /* فونت فارسی مناسب */
    font-size: 36px;
    color: #C91D11; /* نارنجی مایل به قرمز */
    text-align: center;
    margin-top: 20px;
}


.search-box{
    padding-top: 15vh;
    
}